# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
.vscode

# testing
/coverage

configs/root.crt
vcap-local.json
config.json

/deploy
debug

*.zip
IBMCLOUD_APIKEY
